@mixin centered($axis: 'both', $direction: 'row') {

    display: flex;
    flex-direction: $direction;

    @if $axis == 'both' {
        justify-content: center;
        align-items: center;
    }

    @if $axis == 'x' {
        justify-content: center;
    }

    @if $axis == 'y' {
        align-items: center;
    }
}

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}